soapclient1/src/main/java/proxy1/ProductWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soapserver.aya.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soapserver.aya.net/" name="ProductWs">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soapserver.aya.net/" schemaLocation="http://localhost:8085/ProductWs?xsd=1"/>
</xsd:schema>
</types>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getProductById">
<part name="parameters" element="tns:getProductById"/>
</message>
<message name="getProductByIdResponse">
<part name="parameters" element="tns:getProductByIdResponse"/>
</message>
<message name="sellingprice">
<part name="parameters" element="tns:sellingprice"/>
</message>
<message name="sellingpriceResponse">
<part name="parameters" element="tns:sellingpriceResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<portType name="ProductwebService">
<operation name="addProduct">
<input wsam:Action="http://service.soapserver.aya.net/ProductwebService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://service.soapserver.aya.net/ProductwebService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getProductById">
<input wsam:Action="http://service.soapserver.aya.net/ProductwebService/getProductByIdRequest" message="tns:getProductById"/>
<output wsam:Action="http://service.soapserver.aya.net/ProductwebService/getProductByIdResponse" message="tns:getProductByIdResponse"/>
</operation>
<operation name="sellingprice">
<input wsam:Action="http://service.soapserver.aya.net/ProductwebService/sellingpriceRequest" message="tns:sellingprice"/>
<output wsam:Action="http://service.soapserver.aya.net/ProductwebService/sellingpriceResponse" message="tns:sellingpriceResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://service.soapserver.aya.net/ProductwebService/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://service.soapserver.aya.net/ProductwebService/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://service.soapserver.aya.net/ProductwebService/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://service.soapserver.aya.net/ProductwebService/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://service.soapserver.aya.net/ProductwebService/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://service.soapserver.aya.net/ProductwebService/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
</portType>
<binding name="ProductwebServicePortBinding" type="tns:ProductwebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellingprice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWs">
<port name="ProductwebServicePort" binding="tns:ProductwebServicePortBinding">
<soap:address location="http://localhost:8085/ProductWs"/>
</port>
</service>
</definitions>